<!DOCTYPE HTML>

<html>
<head>
    <title>Password Change</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>
<body class="index is-preload">
<div id="page-wrapper">


    <header id="header" class="alt">
        <h1 id="logo"><a href="#">Chat with <span>everyone</span></a></h1>
        <nav id="nav">
            <ul>
                <li ><a href={{path('app_login') }} class="button">Sign In</a></li>
                <li><a href={{ path('signup') }} class="button">Sign Up</a></li>
            </ul>
        </nav>
    </header>

    <section id="banner">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="inner">
<form method="post" action="{{ path('change') }}" >
    <div class="form-group">
        <label class="col-md-4 control-label" >code</label>
        <div class="col-md-5">
            <input type="password" placeholder="Code" name="code"class="form-control input-md" >

        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label" >new Password </label>
        <div class="col-md-5">
            <input type="password" placeholder="new password" name="newpass" class="form-control input-md" >

        </div>
    </div>
    <!-- Button -->
    <div class="form-group">
        <label class="col-md-4 control-label" ></label>
        <div class="col-md-4">
            <button class="btn btn-primary" type="submit">save</button>
        </div>
    </div>
</form>
        </div>
    </section>


    <!-- CTA -->
    <section id="cta">

        <header>
            <h2>Ready to meet new <strong>FRIENDS</strong>?</h2>
            <p></p>
        </header>
        <footer>
            <ul class="buttons">
                <li><a href={{ path('signup') }} class="button">Sign Up </a></li>
                <li><a href={{ path('app_login')}} class="button">Sign In</a></li>
            </ul>
        </footer>

    </section>

    <!-- Footer -->
    <footer id="footer">

        <ul class="icons">
            <li><a href="#" class="icon brands circle fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands circle fa-facebook-f"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon brands circle fa-google-plus-g"><span class="label">Google+</span></a></li>
            <li><a href="#" class="icon brands circle fa-github"><span class="label">Github</span></a></li>
        </ul>

        <ul class="copyright">
            <li>&copy; Untitled</li>
        </ul>

    </footer>

</div>


<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.dropotron.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>