{% extends   'base.html.twig' %}
{% block title %}themes!{% endblock%}
{% block body %}
    <div id="main" >

    <section id="main-content">
        <!-- <div class="container event">-->
        <section class="wrapper site-min-height">





<div id="all">
    <h1>******************************************YOUR-THEMES**************************************</h1>
    <table>
<tr>
                   {% for y in YourTheme %}

    <td>
                       <div   id="{{ y.idTheme }}">
                           <img src="{{ asset('uploads/images/' ~y.image) }}" class="img.fluid" alt="" width="200px" height="200px" >
                           <div >
                               <h3>{{ y.nomTheme }}</h3>
                               <h6>n°members:{{ y.nbrParticipant }}/{{ y.capacite }}</h6>
                               <h6>created by <strong>you</strong></h6>
                               <br>
                               <a href="{{path('enterYourTheme',{'idTheme':y.idTheme}) }}">-Enter your Theme-</a>
                               <br>
                               <a href="{{ path('DeleteTheme',{'idTheme':y.idTheme})}}">-Delete your Theme-</a>


                           </div>
                       </div>
    </td>

                    {% endfor %}
</tr>
    </table>





                    <h1>************************************THEMES-JOINED*!***********************************</h1>

    <table>
        <tr>
                    {% for j in joinedTheme %}
                     <td>
                        <div id="{{ j.idTheme }}">
                            <img src="{{ asset('uploads/images/' ~j.image) }}" class="img.fluid"  alt="" width="200px" height="200px" >
                            <div class="event-content">
                                <h3>{{ j.nomTheme }}</h3>
                                <h6>n°members:{{ j.nbrParticipant }}/{{ j.capacite }}</h6>

                                <h7>created by </h7>
                                <h6><strong>{{ j.email }}</strong></h6>

                                <br>
                                <a  href={{path('enterJoinedTheme',{'idTheme':j.idTheme}) }}>-ENTER-</a>
                                <br>
                                    <a href="{{ path('leaveTheme',{'idTheme':j.idTheme})}}">-LEAVE THE THEME-</a>
                                <br>
                                <a href="#">-REPORT !-</a>

                            </div>
                        </div>

                     </td>
                    {% endfor %}
        </tr>
    </table>

                    <h1>*************************************OTHER-THEMES**************************************</h1>
    <table>
        <tr>

                 {% for o in OtherTheme %}
                     <td>
                        <div id="{{ o.idTheme }}" >
                            <img src="{{ asset('uploads/images/' ~o.image) }}" class="img.fluid" alt="" width="200px" height="200px" >
                            <div class="event-content">
                                <h3>{{ o.nomTheme }}</h3>
                                <h6>n°members:{{ o.nbrParticipant }}/{{ o.capacite }}</h6>

                                <h7>created by </h7>
                                <h6><strong>{{ o.email }}</strong></h6>
                             <br>
                                <a href="{{ path('joinThemes',{'idTheme':o.idTheme})}}">-Join-</a>
                                <br>
                                <a href="#">-REPORT !-</a>

                            </div>
                        </div>
                     <hr>
        </td>
                    {% endfor %}
        </tr>
    </table>
</div>
                    <div id="bodysearch">


                    </div>



        </section>
    </section>
    </div>

    <section id="sidebar">
        <!--list post-->
        <section >
            <ul class="posts">
                <li>
                    <article>
                        <header>

                <input type="text" id="searchTheme" name="searchTheme" placeholder="SearchTheme" value=""/>
                </header>

                    </article>
                </li>
            </ul>
            <a  class="button large" href={{ path('addtheme') }}> Add a Theme ?</a>
        </section>

    </section>

    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
<script>
    $( document ).ready(function() {
        $("#searchTheme").keyup(function(e){
            var value = $(this).val();
            var search=$("#bodysearch");
            $.ajax({
                url : "{{ path('searchThemes') }}",
                type : 'get',
                data: "searchTheme="+value,
                success : function(retour){
                    if(retour && value!="" ){
                        $("#bodysearch").empty();
                        $("#all").hide();
                        $.each(JSON.parse(retour), function( i ,obj) {


                            var element_search=$("#"+obj.idTheme);
                            element_search.clone().appendTo(search);
                        });
                    }
                    else
                    {
                        $('#all').show();
                        $('#bodysearch').empty();

                        $('#bodysearch').fadeIn('fast');
                    }
                },
            });
            return false ;
        });
    });
</script>
    <style>
        #sidebar {
            position: fixed;
            top: 60px;
            left: 0;
            bottom: 0;
            width: 300px;
            z-index: 996;
            transition: all 0.3s;
            padding: 20px;
            overflow-y: auto;
            scrollbar-width: thin;
            scrollbar-color: #aab7cf transparent;
            box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
            background-color: #fff;
        }
        @media (max-width: 1199px) {
            #sidebar {
                left: -300px;
            }
        }
        #sidebar::-webkit-scrollbar {
            width: 5px;
            height: 8px;
            background-color: #fff;
        }
        #sidebar::-webkit-scrollbar-thumb {
            background-color: #aab7cf;
        }
        @media (min-width: 1200px) {
            #main, #footer {
                margin-left: 300px;
            }
        }
        @media (max-width: 1199px) {
            .toggle-sidebar .sidebar {
                left: 0;
            }
        }
        @media (min-width: 1200px) {
            .toggle-sidebar #main, .toggle-sidebar #footer {
                margin-left: 0;
            }
            .toggle-sidebar .sidebar {
                left: -300px;
            }
        }
    </style>
{% endblock %}


