{% extends   'base.html.twig' %}
{% block title %}themes!{% endblock%}
{% block body %}


    <header><ul class="actions">
            <li><a  class="button large" href={{ path('addtheme') }}> Add a Theme ?</a></li>
        </ul>
        <section>

                <input type="text" id="searchTheme" name="searchTheme" placeholder="SearchTheme" value=""/>

        </section>
    </header>



    <div id="main">

    <section id="main-content">
        <!-- <div class="container event">-->
        <section class="wrapper site-min-height">
            <div class="container event">
                <div class="row justify-content-center text-center">
                    <h1>******************************************YOUR-THEMES**************************************</h1>


                    <tbody id="all">
                   {% for y in YourTheme %}
                       <hr>
                       <div  class="offset-sm-1 col-sm-5 clll">
                           <img src="{{ asset('uploads/images/' ~y.image) }}" class="img.fluid" alt="" width="200px" height="200px" >
                           <div >
                               <h3>{{ y.nomTheme }}</h3>
                               <h6>n째members:{{ y.nbrParticipant }}/{{ y.capacite }}</h6>
                               <h6>created by <strong>you</strong></h6>
                               <br>
                               <a href="{{path('enterYourTheme',{'idTheme':y.idTheme}) }}">-Enter your Theme-</a>
                               <br>
                               <a href="{{ path('DeleteTheme',{'idTheme':y.idTheme})}}">-Delete your Theme-</a>

                           </div>
                       </div>
                    <hr>

                    {% endfor %}
                    </tbody>
                    <tbody id="bodysearch">


                    </tbody>

                    <h1>************************************THEMES-JOINED*!******************************************</h1>

                       <tbody >
                    {% for j in joinedTheme %}
                        <div class="offset-sm-1 col-sm-5 clll">
                            <img src="{{ asset('uploads/images/' ~j.image) }}" class="img.fluid" alt="" width="200px" height="200px" >
                            <div class="event-content">
                                <h3>{{ j.nomTheme }}</h3>
                                <h6>n째members:{{ j.nbrParticipant }}/{{ j.capacite }}</h6>

                                <h7>created by </h7>
                                <h6><strong>{{ j.email }}</strong></h6>

                                <br>
                                <a  href={{path('enterJoinedTheme',{'idTheme':j.idTheme}) }}>-ENTER-</a>
                                <br>
                                    <a href="{{ path('leaveTheme',{'idTheme':j.idTheme})}}">-LEAVE THE THEME-</a>
                                <br>
                                <a href="#">-REPORT !-</a>

                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                       </tbody>


                    <h1>*************************************OTHER-THEMES********************************************</h1>

                        <tbody >
                 {% for o in OtherTheme %}
                        <div class="offset-sm-1 col-sm-5 clll">
                            <img src="{{ asset('uploads/images/' ~o.image) }}" class="img.fluid" alt="" width="200px" height="200px" >
                            <div class="event-content">
                                <h3>{{ o.nomTheme }}</h3>
                                <h6>n째members:{{ o.nbrParticipant }}/{{ o.capacite }}</h6>

                                <h7>created by </h7>
                                <h6><strong>{{ o.email }}</strong></h6>
                             <br>
                                <a href="{{ path('joinThemes',{'idTheme':o.idTheme})}}">-Join-</a>
                                <br>
                                <a href="#">-REPORT !-</a>

                            </div>
                        </div>
                     <hr>
                    {% endfor %}
                        </tbody>
                    </div>
                </div>

        </section>
    </section>
    </div>

    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
<script>
    $( document ).ready(function() {
        $('#searchTheme').keyup(function(e){

            var value = $(this).val();

            $.ajax({

                url : "{{ path('theme') }}",

                type : 'GET',

                data: {
                    'searchTheme' : value
                },
                success : function(retour){
                    if(retour){
                        $('tbody#search').empty();
                        $.each(JSON.parse(retour), function( i ,obj) {
                            $('tbody#all').hide();
                            $('tbody#bodysearch').append('<hr><div class="offset-sm-1 col-sm-5 clll"><img src= "uploads/images/~' +obj.image+'" class="img.fluid" alt="" width="200px" height="200px" ><div class="event-content"> <h4>'+obj.nomTheme+'</h4><p>n째members: '+obj.nbrParticipant+'/'+ obj.capacite +'</p> <span>created by you</span><br> <a href="#">Enter your Theme</a><br></div></div><hr>');
                        });
                    }
                    else
                    {
                        $('tbody#all').show();
                        $('tbody#bodysearch').empty();
                        $('tbody#bodysearch').fadeIn('fast');
                    }
                },
            });
            return false ;
        });
    });
</script>


{% endblock %}


